# Sample file demonstrating an easy method for running the
# git sources without the need for installing.


# Edit the paths below and save the file as "testpath"
# the file will be ignored by git.

# Example usage:

# $ cd dev/git/esearch
# $ source ./testpath
# $ esearch some-package


export PATH="/home/brian/Dev/git/esearch/bin:${PATH}"

export PYTHONPATH="/home/brian/Dev/git/esearch/:${PYTHONPATH}"
